<div class="container">
  <div class="row">
    <h1 class="display-5 text-center mb-5">User's Chat</h1>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="user" class="form-label">User</label>
        <input type="text" class="form-control" id="user" />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <input type="text" class="form-control" id="message" />
      </div>
      <button type="button" class="btn btn-primary" id="sendMsgButton">Send</button>
    </div>
    <div class="col-md-4 py-4">
      <div id="msgBoard"></div>
      <button type="button" class="btn btn-primary text-center" id="delAllMsgsButton">Clear</button>
    </div>
  </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>