<div class="container bg-secondary-subtle">
  <h2 class="py-3 px-5 text-primary-emphasis">Movie Catalog</h2>
  {{#each products}}
    <div class="card mb-3 text-primary-emphasis bg-primary-subtle" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4 p-3">
          <img src={{this.thumbnail}} class="img-fluid rounded m3" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text"><small class="text-body-secondary">${{this.price}}</small></p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="js/products.js"></script>