<div class="container">
  <div class="row">
    <div class="col">
      <h1>Product List</h1>
      <div style="color: darkgreen; background-color: lightgray">
        <ul id="prodlist">
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>